.App {
  text-align: center;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

span {
  font-weight: bold;
  font-style: italic;
  color: red;
  text-transform: uppercase;
}